<div class="container">
	<div class="well well-lg game-room">
		<h1>White Elephant</h1>
		<div class="row">
			<div class="col-xs-2 spacing-top">
                <img src="../images/profile.png" class="img-circle img-responsive user active-user">
                <div class="present">
                    <img src="../images/present.png" class="present-picked">
                </div>
			</div>
			<div class="col-xs-4 col-xs-offset-2">
				<div class="present-background">
					<div class="row">
						<div class="col-xs-4">
							<img src="../images/present.png" class="img-responsive">
						</div>
						<div class="col-xs-4">
							<img src="../images/present.png" class="img-responsive">
						</div>
						<div class="col-xs-4">
							<img src="../images/present.png" class="img-responsive">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<img src="../images/present.png" class="img-responsive">
						</div>
						<div class="col-xs-4">
							<img src="../images/present.png" class="img-responsive">
						</div>
						<div class="col-xs-4">
							<img src="../images/present.png" class="img-responsive">
						</div>
					</div>
				</div>
            </div>
			<div class="col-xs-2 col-xs-offset-2 spacing-top">
                <img src="../images/profile.png" class="img-circle img-responsive user inactive-user">
                <div class="present">
                    <img ng-if="user.present.id" src="../images/present.png" class="present-picked">
                </div>
            </div>
		</div>
		<div class="row">
            <div class="col-xs-2">
                <img src="../images/profile.png" class="img-circle img-responsive user inactive-user">
                <div class="present">
                    <img ng-if="user.present.id" src="../images/present.png" class="present-picked">
                </div>
            </div>
            <div class="col-xs-2 col-xs-offset-8">
                <img src="../images/profile.png" class="img-circle img-responsive user inactive-user">
                <div class="present">
                    <img ng-if="user.present.id" src="../images/present.png" class="present-picked">
                </div>
            </div>
		</div>
		<div class="row">
            <div class="col-xs-2 spacing-top">
                <img src="../images/profile.png" class="img-circle img-responsive user inactive-user">
                <div class="present">
                    <img ng-if="user.present.id" src="../images/present.png" class="present-picked">
                </div>
            </div>
            <div class="col-xs-2 col-xs-offset-8 spacing-top">
                <img src="../images/profile.png" class="img-circle img-responsive user inactive-user">
                <div class="present">
                    <img ng-if="user.present.id" src="../images/present.png" class="present-picked">
                </div>
            </div>
		</div>
	</div>
</div>
